.task-container {
    background-color: #1f1f1f;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    color: #eee;
}

.task-title {
    cursor: pointer;
}

.buttons-container {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.remove-task-button,
.see-task-details-button {
    background-color: #1f1f1f;
    border: none;
    font-size: 24px;
    color: #ccff00;
    cursor: pointer;
    margin: 0 5px;
}