.container {
    max-width: 500px;
    margin: 30px auto;
    overflow: auto;
    min-height: 300px;
    border: 5px inset #CCFF00;
    border-radius: 40px;
    /* border: 5px solid #ccff00; */
    padding: 30px;
    border-radius: 10px;
}